.App {
  text-align: center;
  /* display: flex; */
  /* min-height: 100vh; */
  /* align-items: center; */
  /* justify-content: center;     */
  color: black;   /* Text colour for login */
  /* background-image: url(car_wallpaper.webp); */
  background-size:1600px 1000px;    
}


.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

@media screen and (min-width: 800px) {
  .auth-form-container {
    padding: 5rem;
    border: 2px solid black;  /*Border for box  */
    border-radius: 10px;
    margin: 0.5rem;
  }
}



